@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cookie&display=swap");

:root {
  --bs-primary-color: #f5a721;
  --bs-primary-color-dark: #865f1a;
  --bs-text-color: #393020;
}

body {
  position: relative;
  background-color: #e9d2a6;
  color: var(--bs-text-color);
}

.navbar {
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.575));
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.603);
}

.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 2.5em;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--bs-primary-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: #a169009d;
  font-weight: 500;
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--bs-primary-color);
}

.solid-scroll {
  background-image: linear-gradient(#000, rgb(0, 0, 0));
}

.banner {
  background-image: url("../assets/bannerbg.jpeg");
  background-color: rgb(15, 12, 5);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner .container:first-child {
  padding-top: 15vh;
  color: rgb(202, 202, 202);
}

.banner img {
  width: 30vw;
}

.career {
  position: relative;
}

.career::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #fff;
  animation: blinker 0.8s ease infinite;
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}

.container .contacts {
  font-family: "Anton", sans-serif;
}

.icons a i:hover {
  color: var(--bs-primary-color) !important;
}

.titles {
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  padding: 0.5em;
}

.titles::first-letter {
  font-size: 1.5em;
  color: var(--bs-primary-color);
}

.education {
  background-image: linear-gradient(90deg, #f1e9da 50%, var(--bs-primary-color) 50%);
}

.education .container {
  padding-top: 7vh;
}

.timeline {
  position: relative;
  margin-top: 10vh;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: var(--bs-text-color);
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding-left: 3vw;
  padding-right: 3vw;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content-left {
  background-color: var(--bs-primary-color);
  padding: 5%;
  border: 1px solid #bb8831;
  border-radius: 20px 0 20px 20px;
  margin-bottom: 8vh;
}

.content-right {
  background-color: #f1e9da;
  padding: 5%;
  border: 1px solid #c5b79d;
  border-radius: 0 20px 20px 20px;
  margin-bottom: 8vh;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 20px;
  height: 20px;
  background: var(--bs-text-color);
  border-radius: 50%;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background: var(--bs-primary-color);
  border-radius: 50%;
  border: 2px solid var(--bs-text-color);
}

.timeline ul li p {
  margin: 0;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: -13px;
  right: -157px;
  padding: 8px 16px;
  background: #393020;
  color: #c5b79d;
  border-radius: 18px;
}

.sept {
  right: -287px !important;
}

.jan {
  right: -232px !important;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: -9px;
  left: -147px;
  padding: 8px 16px;
  background: #393020;
  color: #c5b79d;
  border-radius: 18px;
}

.clear {
  clear: both;
}

.projects {
  background-color: var(--bs-primary-color);
}

.projects h2::first-letter {
  color: #ffeece;
}

.carousel-caption {
  opacity: 0;
}

.text-fade-in {
  background-color: rgba(0, 0, 0, 0.644);
  padding-top: 3%;
  padding-bottom: 0;
  width: 50%;
  top: 60%;
  left: 25%;
  bottom: 0;
  animation: fade-in 3s linear 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.089);
}

.career-block {
  display: block;
}

@media screen and (max-width: 769px) {
  .timeline::before {
    left: 0;
  }

  .timeline ul li {
    list-style: none;
    position: static;
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .timeline ul li:nth-child(odd) {
    text-align: left;
  }

  .timeline ul li:nth-child(even)::before,
  .timeline ul li:nth-child(odd)::before {
    left: -9px;
  }

  .timeline ul li:nth-child(even) .time,
  .timeline ul li:nth-child(odd) .time {
    position: static;
    margin-bottom: 3vh;
  }

  .timeline-text {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-left {
    border-radius: 0 20px 20px 20px;
  }

  .projects .container {
    max-width: 100vw;
    padding: 5px !important;
    padding-bottom: 6vh !important;
  }

  .text-fade-in {
    padding-top: 10vw;
    width: 100%;
    top: 0%;
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 412px) {
  .text-fade-in {
    padding-top: 5vw;
  }
  .text-fade-in p {
    margin-bottom: 4px;
  }
}
