@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cookie&display=swap");

body {
  height: 300vh;
}

.navbar {
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.856));
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.329);
}

.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 2.5em;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #e09a16;
}

.navbar-dark .navbar-nav .nav-link {
  color: #a169009d;
  font-weight: 500;
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #e09a16;
}

.banner {
  background-image: url("../assets/bannerbg.jpeg");
  background-color: rgb(15, 12, 5);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .container:first-child {
  padding-top: 15vh;
  color: rgb(202, 202, 202);
}

.banner img {
  width: 30vw;
}

.banner .contacts {
  font-family: "Anton", sans-serif;
}

.icons a i:hover {
  color: #e09a16 !important;
}
